body{
	width:100%;
	height:100%;
	margin:0;
}
/*Navbar */
.navbar{
	height:50px;
	width:100%;
	background-color:#222;
	margin-bottom:5px;
	padding-top:25px;
}
.wellcome-box
{
	height:100%;
	text-align:center;
}
#wellcome-title
{
	margin:0;
	color:white;
	font-size:20px;
}
/*---------------------*/
/*Form/ bevitel*/
.content
{
	text-align:center;
}
.prime_input{
	margin-top: 50px;
	font-size: 15px;
	margin-bottom:15px;
	border-radius: 10px;
    height: 50px;
}

/*---------Tábla------------*/

.num-table
{
	margin:15px 0 25px 0;
}
/*Numbers*/
.num-button{
display:block;
padding:8px 25px; 
background-color:#333;
color:white; 
border-radius:4px; 
cursor:pointer;
}
.num-button:hover{
opacity:0.3 ;
}
/*---------------------*/

/*Bevitel Gomb*/
.submit-button{
margin:auto;
display:block;
padding:8px 25px; 
background-color:#333;
color:white; 
border-radius:4px; 
cursor:pointer;
max-width:150px;
}
.submit-button:hover{
opacity:0.3 ;
}
/*---------------------*/


/*Eredmény*/
.result-box{
	position: absolute;
    bottom: 15%;
	width:100%;
	height:390px;
	background-color:#2E3331;
	text-align:center;
}
.center-result-box{
	margin: auto;
	width: 50%;
}
#prime-number-text
{
	font-size: 75px
}
@media screen and (max-width: 1440px)
{
	/*form-bevitel*/
	.content
{
	height:100%;
}
	
	/*eredmény*/
	.result-box{
	position:static;
	width:100%;
	background-color:#2E3331;
	text-align:center;
}
}
@media screen and (max-width: 480px) {
/*navbar*/
#wellcome-title
{
	color:white;
	font-size:18px;
}

/*navbar end*/

/*eredmény box*/
#resultTitle
{
	font-size:20px;
}
#prime-number-text
{
	margin:0;
}
}
